.App {
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#command-input-wrapper {
  position: sticky;
  bottom: 8px;
}

#command-input {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#command-input-text {
  width: 90%;
}

#main-view {
  height: 100%;
}

#input-area {
  width: 50%;
  height: 100%;
  float: left;
}

#mathstack-wrapper {
  height: 90%;
}

#mathml-textarea {
  background-color: #eee;
  width: 50%;
  height: 100%;
  float: right;
}

.stack-elem-selected {
  background-color: #eee;
}

.stack-elem-not-selected {
  background-color: white;
}

.App-link {
  color: #61dafb;
}
